doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=EmulateIE7; IE=EmulateIE9')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    style
      include ./styles/mail.css
  body
    .container
      header
        h1 #{header}
      .cryptocontainer
        each crypto, i in cryptoReport.data
            #card
              .card-main.card-main1
                .header #{crypto.name}
                .middle #{crypto.symbol}
                ul
                  li
                    b Price: #{crypto.middle}
                  li
                    b 1 hour change:
                    |  #{crypto.oneHourChange}
                  li
                    b 24 hours change:
                    |  #{crypto.twoFourHoursChange}
      .weathercontainer
        each city, i in weatherReport.data
            #card
              .card-main.card-main1
                .header #{city.name}
                .middle #{city.main}
                ul
                  li
                    b #{city.description}
                  li
                    b Temparature:
                    |  #{city.temparature}
                  li
                    b Humidity:
                    |  #{city.humidity}
                  li
                    b Wind speed:
                    | #{city.windSpeed}
                  li
                    b Cloudiness:
                    |  #{city.cloudiness}
                  li
                    b Sunrise:
                    |  #{city.sunrise}
                  li
                    b Sunset:
                    | #{city.sunset}
      .calendarcontainer
        if calendarReport.data.length > 0
          each stuff, i in calendarReport.data
              #card
                .card-main.card-main1
                  .header #{stuff.content}
                  .middle #{stuff.description}
                  ul
                    li
                      b Start: 
                      | #{stuff.start}
                    li
                      b End:
                      |  #{stuff.end}
      .birthdaycontainer
        if birthdayReport.data.length > 0
          each person, i in birthdayReport.data
              #card
                .card-main.card-main1
                  .header #{person.name}
                  ul
                    li
                      b Phone: 
                      | #{[person.phone]}
                    li
                      b Email:
                      |  #{person.email}
                    li
                      b Hobbies: 
                      | #{[person.hobbies]}



